*{
    font-family: 'Roboto', sans-serif;
}

h1 {
    display:flex;
    font-size:26px;
    margin: 0px auto 0px auto;
    padding-bottom: 10px;
    width:fit-content;
    font-weight: 500;
}

.discover-text{
    font-size:18px;
    padding:20px 50px 20px 50px;
    font-weight: 300;
    color: rgb(48 48 48)
}

h2 {
   
    justify-self: left;
    margin-left: 20px;
    width:fit-content;
    font-weight: bold;


}