*{
    font-family: 'Roboto', sans-serif;
}

h1 {
    display:flex;
    font-size:26px;
    margin: 0px auto 0px auto;
    padding-bottom: 10px;
    width:fit-content;
    font-weight: 500;
}

.discover-text{
    font-size:18px;
    padding:20px 50px 20px 50px;
    font-weight: 300;

}

h2 {
   
    justify-self: left;
    margin-left: 20px;
    width:fit-content;
    font-weight: bold;


}

h3 {
    width:auto;

}



.restaurant-name  {
    font-family: 'Shrikhand', cursive;
    font-weight: 100;
    font-size:32px;

    @media only screen and (max-width: 401px) {
    font-size:28px;
}
}

.restaurant-name{


}