
@mixin color-gradient1{
background:rgb(147,86,220); 
background:linear-gradient(45deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 67%);
}

@mixin icon-fill1{
    color:rgb(198, 93, 230); 
    color:linear-gradient(45deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 67%);
}

@mixin border-shadow1{
box-shadow:0 0 10px 1px #d2d6de;
}