$color-primary: #9356DC;
$color-primary-hover: #a764fa42;
$color-secondary: #FF79DA; 
$color-tertiary: #99E2D0;
$color-footer: rgb(46 46 46);
$color-background1: white;
$color-background2: black;
$color-background3: rgb(231 231 231);
$color-background4: rgb(245 245 245);
$color-outline1: #0002;
$color-outline2: red;
$color-outline3: blue;
$color-outline4:green;
$color-outline5:purple;

